<img src="">
<h1>{{album.album_title}}</h1>
<h3>{{artist}}</h3>
{% if error_message %}
    <p><b>{{error_message}}</b></p>
{% endif %}
<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}"/>
        <label for="song{{forloop.counter}}">
            {{song.song_title}}
            {% if song.is_favorite %}
                <img src="">
            {% endif %}

        </label><br/>

    {% endfor %}
    <input type="submit" value="favorite"/>
</form>